In [29]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://root:Gaming55!!@localhost:3306/tech_project'
db_connection = create_engine(db_connection_str)
print(db_connection)

# Creating a running instance for mysql
# instance = mysql.connector.connect(host='localhost',
#                                      # Enter the Name of your database (schema) here
#                                      database='tech_project',
#                                      # Root is set as default unless changed
#                                      user='root',
#                                      # My password set to TechGroup, yours will be different
#                                      password='Gaming55!!')

Engine(mysql+pymysql://root:***@localhost:3306/tech_project)

In [36]:
def get_crime():
    
    crime_df = pd.read_sql('SELECT * FROM Crime', con=db_connection)
    return crime_df

crime_df = get_crime()
print(crime_df)

      report_year agency_code agency_jurisdiction population violent_crimes  \
0          1975.0     NM00101     Albuquerque, NM     286238           2383
1          1975.0     TX22001       Arlington, TX     112478            278
2          1975.0     GAAPD00         Atlanta, GA     490584           8033
3          1975.0     CO00101          Aurora, CO     116656            611
4          1975.0     TX22701          Austin, TX     300400           1215
...           ...         ...                 ...        ...            ...
2824       2015.0     OK07205           Tulsa, OK     401520           3628
2825       2015.0     VA12800  Virginia Beach, VA     452797            626
2826       2015.0     DCMPD00      Washington, DC     672228           8084
2827       2015.0     KS08703         Wichita, KS     389824           3839
2828       2015.0                   United States                   1197704

     homicides rapes assaults robberies months_reported crimes_percapita  \
0           30   181     1353       819              12           832.52
1            5    28      132       113              12           247.16
2          185   443     3518      3887              12          1637.44
3            7    44      389       171              12           523.76
4           33   190      463       529              12           404.46
...        ...   ...      ...       ...             ...              ...
2824        55   365     2354       854                           903.57
2825        19   103      234       270                           138.25
2826       162   494     4024      3404                          1202.57
2827        27   349     2730       733                            984.8
2828     15696                                                     372.6

     homicides_percapita rapes_percapita assualts_percapita  \
0                  10.48           63.23             472.68
1                   4.45           24.89             117.36
2                  37.71            90.3              717.1
3                      6           37.72             333.46
4                  10.99           63.25             154.13
...                  ...             ...                ...
2824                13.7            90.9             586.27
2825                 4.2           22.75              51.68
2826                24.1           73.49             598.61
2827                6.93           89.53             700.32
2828                 4.9

     robberies_percapita
0                 286.13
1                 100.46
2                 792.32
3                 146.58
4                  176.1
...                  ...
2824              212.69
2825               59.63
2826              506.38
2827              188.03
2828

[2829 rows x 15 columns]

In [37]:
def get_alcohol():
    alcohol_df = pd.read_sql('SELECT * FROM Alcohol', con=db_connection)
    return alcohol_df
    
alcohol_df = get_alcohol()
print(alcohol_df)

        State State_abbrev    Year  Beer  Wine  Spirits  all_beverages
0     Alabama           AL  2016.0  1.09  0.26     0.65           2.01
1     Alabama           AL  2015.0  1.11  0.26     0.64           2.01
2     Alabama           AL  2014.0  1.13  0.25     0.62           2.00
3     Alabama           AL  2013.0  1.14  0.25     0.60           1.99
4     Alabama           AL  2012.0  1.16  0.24     0.60           2.00
...       ...          ...     ...   ...   ...      ...            ...
2035  Wyoming           WY  1981.0  1.91  0.24     1.27           3.43
2036  Wyoming           WY  1980.0  1.85  0.24     1.32           3.41
2037  Wyoming           WY  1979.0  1.86  0.22     1.30           3.39
2038  Wyoming           WY  1978.0  1.81  0.22     1.35           3.38
2039  Wyoming           WY  1977.0  1.78  0.20     1.31           3.29

[2040 rows x 7 columns]

In [38]:
# Disconnecting from the database by passing the running instance
def disconnect_to_database(instance):

    instance.close()
    print("MySQL connection is closed")

In [39]:
# Passing the running instance in the disconnect function so we can close it
disconnect_to_database(instance)

MySQL connection is closed